/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.jg_blocks-hero_slideshow {
  width: 100%;
  height: 100vh;

  .jg_blocks-hero_slideshow_slide{
	
	width: 100%;
	height: 100%;

	&.jg_blocks-hidden{
		display: none;
	}
	.jg_blocks-hero_slideshow_image{
		width: 100%;
		height: 100%;
		object-fit: cover;

		
	}
  }
}
